.hero{

    &__image{
        height: 400px;
        background: url('../assets/images/hero_mobile.webp') no-repeat right/cover;

        @include tablet{
            height: 500px;
            background-image: url('../assets/images/hero.webp');
        }
    }
}

.mini-hero{
    height: 200px;
    background:url('../assets/images/mini_hero.webp') no-repeat right/cover;
}