@use "sass:color";

.post-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    background: $lighter-grey;

    .content{
        flex-grow: 1;
        display: flex;
        padding: 0 20px 20px;
        flex-direction: column;
        justify-content: space-between;
    }

    .post-excerpt{
        flex-grow: 1;
    }

    .post-cta{
        font-size: 1.4em;
        font-weight: 500;
        text-decoration: none;
        color: $tertiary-color;

        &:hover{
            text-decoration: underline;
            color: color.adjust($tertiary-color, $lightness: -10%);
        }
    }
}

.post-image{
    width: 100%;
    object-fit: cover;
}

.comments{

    p{
        font-size:1.2em;
    }
}