// Variables
$header-font: "Oswald", sans-serif;
$body-font: "Roboto", sans-serif;

$primary-color: #706DED;
$secondary-color: #C46DED;
$tertiary-color: #6D93ED;
$quaternary-color: #9A6DED;
$quaternary-lighter-color: #CDBCED;

$highlight-color: #ED6DEC;

$light-grey: #CCC;
$lighter-grey: #EEE;
$dark-grey: #333;

$error-color: #ed6d6d;